<h1>Admin Panel</h1>

<%= link_to 'New Product', new_product_path %> <br />
<%= link_to 'New Category', new_category_path %>

<% Category.all.each do |category| %>
<p>
  <strong>Category:</strong>
  <%= category.name %>
</p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% category.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Edit Category', edit_category_path(category) %> |
<%= link_to 'Back', categories_path %>
<% end %>